/*=========================Summary================================*/
//  1 - Sizes
//  2 - Colors
//  3 - Margins
//  4 - Fonts
//
/*=========================Summary---Sizes================================*/

$body-font-size = 15.4px

/*=========================Sizes---Colors================================*/

$body-background-color = #f2f3f5
$navbar-background-color = #fff

/*=========================Colors---Margins================================*/
$navbar-x-margins = 16px

/*=========================Margins---Fonts================================*/

