html
  min-height 100%
  font-size $body-font-size
  position relative
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  touch-action manipulation

body, #root
  font-size $body-font-size
  display: flex
  flex-direction column
  min-height 100vh
  background $body-background-color